[Desktop Entry]
Version=1.0
Type=Application
Name=Scipion
Comment=
Exec=/opt/scipion/scipion
Icon=/opt/scipion/pyworkflow/resources/scipion_logo.png
Path=/opt/scipion/scipion
Terminal=false
StartupNotify=false
